apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app1
  namespace: argocd
  labels:
    app: dev
spec:
  project: dev-project
  source:
    repoURL: https://github.com/pragmatic-antithesis/inception-of-things-maalexan.git
    targetRevision: main
    path: "./p3/confs/app"
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
