apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: bonus-playground
  namespace: argocd
spec:
  project: dev-project

  source:
    repoURL: http://gitlab.gitlab.svc.cluster.local/root/iot.git
    targetRevision: main
    path: k8s
    directory:
      recurse: true

  destination:
    server: https://kubernetes.default.svc
    namespace: dev

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
