apiVersion: v1
kind: ConfigMap
metadata:
  name: gitlab-config
  namespace: gitlab
data:
  gitlab.rb: |
    external_url 'http://gitlab.gitlab.svc.cluster.local'
    gitlab_rails['initial_root_password'] = 'gitlaber'

    registry['enable'] = false
    gitlab_rails['usage_ping_enabled'] = false
    gitlab_rails['sentry_enabled'] = false
    prometheus['enable'] = false
    alertmanager['enable'] = false
    node_exporter['enable'] = false
    redis_exporter['enable'] = false
    postgres_exporter['enable'] = false
    pgbouncer_exporter['enable'] = false
    gitlab_exporter['enable'] = false
    grafana['enable'] = false
